mixin button(obj)
  - const baseClass = 'button'
  button(class=obj.modifier? `${baseClass} ${baseClass}_${obj.modifier}` : `${baseClass}`)&attributes(attributes)
    span(class=`${baseClass}__label`)=obj.label