include ../like/like.pug
mixin comment(obj)
  - let baseClass = 'comment';
  div(class=`${baseClass}`)
    div(class=`${baseClass}__aside`)
      img(class=`${baseClass}__avatar` src=obj.avatar)
      +like({num: obj.likes})
    div(class=`${baseClass}__container`)
      div(class=`${baseClass}__author`)=obj.author
      div(class=`${baseClass}__date`)=obj.date
      div(class=`${baseClass}__text`)=obj.text
    
      