mixin field(modifier)
  - let baseClass = 'field';
  div(class=modifier ? `${baseClass} ${baseClass}_${modifier}` : baseClass)
    input(class=`${baseClass}__input`)&attributes(attributes)
    if (modifier)
    button(class=`${baseClass}__btn ${baseClass}__btn_${modifier}`)
      