mixin field(obj)
  - let baseClass = 'field';
  div(class=(obj.modifier) ? `${baseClass} ${baseClass}_${obj.modifier}` : `${baseClass}`)
    input(class=`${baseClass}__input`)&attributes(attributes)
    if (obj.modifier)
    button(class=`${baseClass}__btn ${baseClass}__btn_${obj.modifier}`)
      