mixin checkbox(obj)
  - let baseClass = 'checkbox';
  label(class=`${baseClass}`)
    input(class=`${baseClass}__input` type='checkbox')&attributes(attributes)
    span(class=`${baseClass}__mark`)
    span(class=obj.text? `${baseClass}__label ${baseClass}__label_rich` : `${baseClass}__label`)=obj.label
    if (obj.text)
    p(class=`${baseClass}__text`)=obj.text
      