mixin checkbox(label,text)
  - let baseClass = 'checkbox';
  label(class=`${baseClass}`)
    input(class=`${baseClass}__input` type='checkbox')&attributes(attributes)
    span(class=`${baseClass}__mark`)
    span(class=text? `${baseClass}__label ${baseClass}__label_rich` : `${baseClass}__label`)=label
    if (text)
    p(class=`${baseClass}__text`)=text
      