include ../checkbox/checkbox.pug
mixin checkboxList(obj)
  - let baseClass = 'checkbox-list';
  div(class=obj.modifier ? `${baseClass} ${baseClass}_${obj.modifier}` : `${baseClass}`)
    h3(class=`${baseClass}__title`)=obj.title
    ul(class=`${baseClass}__list`)
      each item in obj.items
        li
          +checkbox({label: item.label, text: item.text})